<section id="main-content">
	<section class="wrapper site-min-height">
		<!-- page start-->
		<section class="panel">
			<header class="panel-heading">
				拖拽缺陷数据进入指定区域上传
			</header>
			<div class="panel-body">
				<form action="assets/dropzone/upload.php" class="dropzone" id="my-awesome-dropzone"></form>
			</div>
		</section>
		<!-- page end-->
	</section>
</section>
