
<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<section class="panel">
			<header class="panel-heading">
				模糊关联规则浏览
			</header>
			<div class="panel-body" style="font-size:15px">
				<div class="adv-table">
					<table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
						<thead>
							<tr>
								<th>序号</th>
								<th>条件部分</th>
								<th>结论部分</th>
								<th>置信度(%)</th>
							</tr>
						</thead>
						<tbody>
							<% @frs.each do |fr| %>
							<tr class="gradeX">
								<td><%= fr.fid %></td><td> <% fr.pre.each do |pre|%>
								<button type="button" class="btn btn-round btn-info">
									<%= pre%>
								</button> <% end %></td>
								<td> <% fr.cons.each do |con|%>
								<button type="button" class="btn btn-round btn-success">
									<%= con%>
								</button> <% end %></td>
								<td><%= fr.conf %></td>
							</tr>
							<% end %>

						</tbody>
					</table>

				</div>
			</div>
		</section>
		<!-- page end-->
	</section>
</section>

