
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <section class="panel">
                  <header class="panel-heading">
                      模糊关联规则浏览
                  </header>
                  <div class="panel-body" style="font-size:15px">
                        <div class="adv-table">
                            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>条件部分</th>
                                    <th>结论部分</th>
                                    <th>置信度(%)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
									<td>44</td>
                                    <td><button type="button" class="btn btn-round btn-info">Middle_CommentNum</button> <button type="button" class="btn btn-round btn-info">Few_UniModiNum</button></td>
                                    <td><button type="button" class="btn btn-round btn-success">Short_ElapseDays</button></td>
                                    <td>59.99</td>
                                </tr>
                                <tr class="gradeX">
									<td>50</td>
                                    <td><button type="button" class="btn btn-round btn-info">Few_ModiNum</button> <button type="button" class="btn btn-round btn-info">Few_UniModiNum</button></td>
                                    <td><button type="button" class="btn btn-round btn-success">Short_ElapseDays</button></td>
                                    <td>58.86</td>
                                </tr>
                                <tr class="gradeX">
									<td>52</td>
                                    <td><button type="button" class="btn btn-round btn-info">Few_UniModiNum</button> <button type="button" class="btn btn-round btn-info">Few_CommentNum</button></td>
                                    <td><button type="button" class="btn btn-round btn-success">Short_ElapseDays</button></td>
                                    <td>57.99</td>
                                </tr>
                                <tr class="gradeX">
									<td>82</td>
                                    <td><button type="button" class="btn btn-round btn-info">Many_UniModiNum</button> <button type="button" class="btn btn-round btn-info">Many_ModiNum</button></td>
                                    <td><button type="button" class="btn btn-round btn-success">Long_ElapseDays</button></td>
                                    <td>45.78</td>
                                </tr>
	                                <tr class="gradeX">
									<td>88</td>
                                    <td><button type="button" class="btn btn-round btn-info">Middle_CommentNum</button> </td>
                                    <td><button type="button" class="btn btn-round btn-success">Short_ElapseDays</button></td>
                                    <td>44.09</td>
                                </tr>
	                                <tr class="gradeX">
									<td>93</td>
                                    <td><button type="button" class="btn btn-round btn-info">Many_ModiNum</button> </td>
                                    <td><button type="button" class="btn btn-round btn-success">Long_ElapseDays</button></td>
                                    <td>43.36</td>
                                </tr>
	                                <tr class="gradeX">
									<td>99</td>
                                    <td><button type="button" class="btn btn-round btn-info">Middle_ModiNum</button></td>
                                    <td><button type="button" class="btn btn-round btn-success">Middle_ElapseDays</button></td>
                                    <td>39.34</td>
                                </tr>
	                                <tr class="gradeX">
									<td>113</td>
                                    <td><button type="button" class="btn btn-round btn-info">Middle_CommentNum</button> </td>
                                    <td><button type="button" class="btn btn-round btn-success">Middle_ElapseDays</button></td>
                                    <td>34.47</td>
                                </tr>
									
                                </tbody>
                            </table>

                        </div>
                  </div>
              </section>
              <!-- page end-->
          </section>
      </section>

