<style>
	li.task-item {
		height: 30px
	}
</style>

<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<div class="row">
			<div class="col-md-12">
				<section class="panel tasks-widget">
					<header class="panel-heading">
						缺陷报告修复时间预测结果
					</header>
					<div class="panel-body">

						<div class="task-content">

							<ul class="task-list">
								<% @brs.each do |br| %>
								<tr>
									<li class="task-item">
										<div class="task-title">
											<span class="task-title-sp"><%= br.seq%>:<%= br.resolution%></span>
											<span class="badge badge-sm <% if br.elapsedday > 100%>
											label-danger
											<% elsif br.elapsedday > 30%>
											label-warning
											<% elsif br.elapsedday > 5%>
											label-primary
											<% else%>
											label-success
											<% end %>"><%= br.elapsedday%>天</span>
											<div class="pull-right hidden-phone">
												<button class="btn btn-success btn-xs">
													<i class="icon-ok"></i>
												</button>
												<button class="btn btn-primary btn-xs">
													<i class="icon-pencil"></i>
												</button>
												<button class="btn btn-danger btn-xs">
													<i class="icon-trash "></i>
												</button>
											</div>
										</div>
									</li>

								</tr>
								<% end %>

							</ul>
						</div>

						<div class=" add-task-row">
							<a class="btn btn-success btn-sm pull-left" href="#">添加新缺陷报告</a>
						</div>
					</div>
					<%= will_paginate @brs%>
				</section>
			</div>
		</div>

		<!-- page end-->
	</section>
</section>

