<!DOCTYPE html>
<html>
	<head>
		<title>缺陷修复时间预测自动化原型系统</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
	
		<%= yield %>
	</body>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script>
		//owl carousel

		$(document).ready(function() {
			$("#owl-demo").owlCarousel({
				navigation : true,
				slideSpeed : 300,
				paginationSpeed : 400,
				singleItem : true,
				autoPlay : true

			});
		});

		//custom select box

		$(function() {
			$('select.styled').customSelect();
		});

	</script>
</html>
